.Banner{
    display: flex;
    justify-content: center;
    margin: 0 40px;
    align-items: center;
    cursor: default;
    white-space: nowrap;
}

.Banner .usuario{
    background-color: #003e72;
    padding: 10px 15px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    border-radius: 7px;
}

.Banner .titulo {
    flex-grow: 8;
    margin-left: 20px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: clip;
}

.LineBanner{
    height: 25px;
    background-image: linear-gradient(to right, #003e72 , #1B6DB2, #003e72);
}